table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    mat-list {
      margin: 0 10px;
    }
  }
#rta-detail {
  font-size: 8px;
}
  .element-detail__text {
    font-weight: bold;
  }

  .mat-list-item-content {
    align-items: flex-start;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: auto;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .bubble{
    display:flex;
    flex-direction: column;
    .me{
        position: relative;
        margin: 3px 5px 0px;
        max-width:80%;
        align-self: flex-start;
        padding:  9px 10px 9px 16px;
        border-radius: 15px 15px 0;
        box-shadow: 0 4px 8px 0 rgba (0,0,0,0.2);
        font-size: 12px;
        background:#DCF8C6;
  
        line-height: 1.1;
        z-index: 2;
    }
    #autosize {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
        min-height: 40px;
        min-width: 80%;
  
    }
    .time-left{
        color:darkgray;
        display: inline-grid;
        margin-left: 7px;  
        margin-bottom: 0;
        margin-top: 0;
        font-size: small;
  
    }
    .time-right{
        color:darkgray;
        display: inline-grid;
        margin-right: 10px;  
        margin-bottom: 0;
        margin-top: 0;
        font-size: small;
    }
  }

  .header-drop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    mat-form-field {
      max-width: 300px;
    }
  }

  .header-drop-sub {
    display: flex;
    flex-direction: column;
  }

  .edit-buttons {
    display: flex;
    flex-direction: row;
    button {
      margin-right: 10px;
    }
  }

  .search-field {
    display: flex;
    flex-direction: row;
    margin: 10px;
    mat-form-field {
      max-width: 300px;
    }
    button {
      margin-left: 20px; 
    }
    #download-button {
      margin-left: 20px;
    }
  }

  .mat-form-field-wrapper {
    width: 350px;
  }
  
  .response-header {
    &.d-1 {
      background-color: #fc4b6c;
    }
 
    &.d-2 {
      background-color: #fc4b6c;
    }
 
    &.d-3 {
      background-color: #fc4b6c;
    }
 
    &.d-4 {
      background-color: #ffb22b;
    }

    &.d-5 {
      background-color: #A8D33D;
    }

    color: #fff;
 
    .mat-card-title {
      font-size: 15px !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .response-date {
        margin-left: auto;
        display: flex;
        align-items: center;
      }
      #response-point {
        margin-left: 40px;
        font-size: 12px;
      }
    }
  }
 
.mat-card-actions {
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  padding: 8px 0 !important;
}

.bold-subtitle {
  font-weight: bold;
}

.text-center {
  .title-bold {
    font-weight: bold;
  }
  p {
    text-align: start;
  }
  mat-expansion-panel {
    margin-top: 20px;
  }
}

.filter-options {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 10px;
  .filter-options__select__container {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .filter-options__select {
    width: 100%;
    margin: 10px 0;
  }
  .filter-options__text{
    margin: 10px 0 0 30px;
    display: inherit;
    flex-direction: column;
    p {
      margin: 3px 0;
    }
  }
}
.pagination-buttons{
  display: flex;
  justify-content: end;
  width: 100%;

}

