<div *ngIf="!companyInfo.forms">
    <h1>Tu empresa no tiene formularios activos en este momento</h1>
    <h3>Contáctanos a <a href="https://weareocto.web.app/front/pages/contact.html" target="_blank" style="color: #EF78A0">octo.colombia@gmail.com</a> para cear tu primer formulario</h3>
</div>
<div fxLayout="row wrap" *ngIf="companyInfo.forms">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
        <mat-card-content>
            <div class="header-drop">
                <div class="header-drop-sub">
                    <mat-card-title *ngIf="currentForm">Resumen de información de: {{currentForm.alias | titlecase}}</mat-card-title>
                    <mat-card-subtitle *ngIf="showTable && currentForm && !currentForm.foreign">Para abrir Octo Form Builder, 
                        <span style="color: #E83D5E" (click)="showTable = false">haz click aqui</span> 
                    </mat-card-subtitle>
                    <mat-card-subtitle *ngIf="!showTable && currentForm && !currentForm.foreign">Para ver tabla de resultados, 
                        <span style="color: #E83D5E" (click)="showTable = true">haz click aqui</span> 
                    </mat-card-subtitle>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Seleciona un formulario</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let form of forms" (click)="changeForm(form)">{{form.alias}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="search-field" *ngIf="currentForm">
                <mat-form-field>
                    <input matInput
                        placeholder="Escoge las fechas para ver resultados"
                        [satDatepicker]="picker"
                        [(ngModel)]="datePick"
                        (focus)="picker.open()"
                        readonly>
                    <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                    <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="searchFields()">Confirmar</button>
                <button id="download-button" mat-stroked-button color="primary" *ngIf="dataSource.length >= 1" (click)="downloadData()">Descargar datos en Excel</button>
                <!-- <a  
                    id="download-button" 
                    mat-stroked-button 
                    [href]="downloadJsonHref" 
                    download="download.json"
                    *ngIf="dataSource.length >= 1"></a> -->
            </div>

            <!-- filter of points, just for porthos -->
            <div class="filter-options" *ngIf="showTable && showCardsVersion && tempDataSource.length >= 1">
                <div class="filter-options__select__container">
                    <mat-form-field class="filter-options__select" appearance="fill">
                        <mat-label>Filtra por Punto</mat-label>
                        <mat-select [(value)]="selectedFilter" (selectionChange)="selectFilter($event)">
                            <mat-option *ngFor="let o of filterCases" [value]="o">{{o}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="filter-options__select" appearance="fill" *ngIf="selectedFilter && selectedFilter !== 'Todos'">
                        <mat-label>Filtra por Palabra Clave</mat-label>
                        <input matInput [(ngModel)]="keyWordFilter" (ngModelChange)="onChangeKeyWordFilter($event)">
                    </mat-form-field>
                </div>
                <div class="filter-options__text">
                    <p><span class="bold-subtitle">Calificación promedio:   </span>{{averageRate | number:'1.2-2'}}</p>
                    <p><span class="bold-subtitle">Total respuestas:   </span>{{responsesLength}}</p>
                    <!-- <p *ngIf="selectedFilter && selectedFilter !== 'Todos'"><span class="bold-subtitle">Total respuestas con calificación 5:   </span>{{gradesIndividual.five}}</p>
                    <p *ngIf="selectedFilter && selectedFilter !== 'Todos'"><span class="bold-subtitle">Total respuestas con calificación 4:   </span>{{gradesIndividual.four}}</p>
                    <p *ngIf="selectedFilter && selectedFilter !== 'Todos'"><span class="bold-subtitle">Total respuestas con calificación 3:   </span>{{gradesIndividual.three}}</p>
                    <p *ngIf="selectedFilter && selectedFilter !== 'Todos'"><span class="bold-subtitle">Total respuestas con calificación 2:   </span>{{gradesIndividual.two}}</p>
                    <p *ngIf="selectedFilter && selectedFilter !== 'Todos'"><span class="bold-subtitle">Total respuestas con calificación 1:   </span>{{gradesIndividual.one}}</p>
                    <p *ngIf="selectedFilter && selectedFilter !== 'Todos'"><span class="bold-subtitle">Total respuestas con calificación 0:   </span>{{gradesIndividual.zero}}</p> -->
                </div>
            </div>
            <!--  GRAPH HERE -->
            <ngx-charts-pie-chart style="display: flex;"
                *ngIf="pieChartStatistics.length && selectedFilter && selectedFilter !== 'Todos'"
                [results]="pieChartStatistics"
                [legend]="true"
                [legendTitle]="'Puntos'" 
                [view]="[800,300]"
                [labels]="true" >
            </ngx-charts-pie-chart>

            <!-- <div class="responsive-table" *ngIf="showTable && !showCardsVersion">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                    <ng-container matColumnDef="numero">
                        <th mat-header-cell *matHeaderCellDef> Número </th>
                        <td mat-cell *matCellDef="let element"> {{element.number || element.telefono}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element"> 
                            <button mat-stroked-button (click)="openTicket(element)">Abrir Ticket</button>
                        </td>
                    </ng-container> -->
                      <!-- expandable -->
                    <!-- <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                        <div class="element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <mat-list role="list">
                                <mat-list-item class="element-detail__text" role="listitem" *ngFor="let j of expandedDataNames">{{j}}</mat-list-item>                               
                            </mat-list>
                            <mat-list role="list">
                                <mat-list-item role="listitem" *ngFor="let i of expandedData">{{i}}</mat-list-item>                               
                            </mat-list>
                        </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" 
                        class="example-element-row"
                        [class.example-expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element"
                        (click) ="getRowData(element)"
                        ></tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
            </div> -->

            <div fxLayout="row wrap" class="course-app" *ngIf="showTable && !showCardsVersion">
                <div fxFlex.gt-md="33.33" fxFlex.gt-lg="33.33" fxFlex="100" *ngFor='let d of dataSource'>
                    <mat-card>
                    <mat-card-header class="response-header d-5">
                        <mat-card-title *ngIf="d.results">
                            <span *ngIf="d.results.timestamp" class="response-date">
                                <mat-icon class="m-r-10">access_time</mat-icon>
                                {{ d.timestamp.toDate() | date: 'short' }}
                            </span>
                            <span *ngIf="d.results.sede" id="response-point">{{d.results.sede}}</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="text-center">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header (click) ="getRowData(d.results)">
                                <mat-panel-title>Ver más detalles</mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="element-detail">
                            <mat-list role="list">
                                <mat-list-item class="element-detail__text" role="listitem" *ngFor="let j of expandedDataNames">{{j}}</mat-list-item>                               
                            </mat-list>
                            <mat-list role="list">
                                <mat-list-item id="rta-detail" role="listitem" *ngFor="let i of expandedData">{{i}}</mat-list-item>                           
                            </mat-list>
                        </div>
                        </mat-expansion-panel>
                    </mat-card-content>
                    <mat-card-actions class="text-center">
                        <button mat-button (click)="openTicket(d)">Abrir Ticket</button>
                    </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <!-- just for Porthos -->
            <div fxLayout="row wrap" class="course-app" *ngIf="showTable && showCardsVersion">
                <div fxFlex.gt-md="33.33" fxFlex.gt-lg="33.33" fxFlex="100" *ngFor='let d of dataSource'>
                    <mat-card>
                    <mat-card-header class="response-header d-{{d.calificacion}}">
                        <mat-card-title>
                            <span class="response-date">
                                <mat-icon class="m-r-10">access_time</mat-icon>
                                {{d.fecha.split('-')[2] | slice:0:2}}-{{d.fecha.split('-')[1] | slice:0:2}}-{{d.fecha.split('-')[0] | slice:0:4 }}
                            </span>
                            <span id="response-point">{{d.punto}}</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="text-center">
                        <p class="m-b-5 title-bold">Calificación:  {{d.calificacion}}</p>
                        <small [innerHTML]="d.comentarios"></small>
                        <!-- see more details -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Ver más detalles</mat-panel-title>
                            </mat-expansion-panel-header>
                            <p><span class="bold-subtitle">Nombre: </span>{{d.nombre}} {{d.apellido}}</p>
                            <p><span class="bold-subtitle">Email: </span>{{d.email}}</p>
                            <p><span class="bold-subtitle">Telefono: </span>{{d.telefono}}</p>
                            <p><span class="bold-subtitle">Fecha de Nacimiento: </span>{{d.fecha_nacimiento | slice:0:10}}</p>
                            <p><span class="bold-subtitle">Hora: </span>{{d.hora}}</p>
                            <p><span class="bold-subtitle">Mesero: </span>{{d.mesero}}</p>
                        </mat-expansion-panel>
                    </mat-card-content>
                    <mat-card-actions class="text-center">
                        <button mat-button (click)="openTicket(d)">Abrir Ticket</button>
                    </mat-card-actions>
                    </mat-card>
                </div>
                <div *ngIf="dataSource.length >= 99" class="pagination-buttons">

                    <mat-spinner *ngIf="showLoader"></mat-spinner>
                    <button mat-mini-fab color="accent" (click)="paginationButtons('after')" matTooltip="Página siguiente">
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                </div>


            </div>
            <!-- form builder -->
            <div class="bubble" *ngIf="!showTable">
                <mat-vertical-stepper [linear]="isLinear" #stepper>
                    <mat-step *ngFor="let message of formFlow">
                        <ng-template matStepLabel>{{(message.alias) ? message.alias : 'Final' }}</ng-template>
                        <div *ngIf="!edition">
                            <p><span style="font-weight: bold">Mensaje: </span>{{message.message}}</p>
                            <p *ngIf="!message.end"><span style="font-weight: bold">Tipo de respuesta: </span>{{(message.responseType === 'number') ? 'Número' : 'Palabra/frase'}}</p>
                        </div>
                        <div *ngIf="edition">
                            <mat-form-field class="example-full-width">
                                <mat-label>Mensaje</mat-label>
                                <textarea matInput cols="30" rows="10" [(ngModel)]="messageEdition"></textarea>
                                <!-- <input matInput placeholder="Escribe el mensaje aqui..." [(ngModel)]="messageEdition"> -->
                            </mat-form-field>
                            <mat-form-field class="example-full-width" *ngIf="!message.end">
                                <mat-label>Tipo de respuesta</mat-label>
                                <select matNativeControl [(ngModel)]="typeMessageEdition">
                                    <option value="number">Número</option>
                                    <option value="string">Palabra/Frase</option>
                                </select>
                            </mat-form-field>
                            <p *ngIf="missingEditInfo" style="color: red;">Falta información en los campos</p>
                            <div class="edit-buttons">
                                <button mat-stroked-button color="primary" (click)="confirmMessageChanges(message)">Confirmar</button>
                                <button mat-stroked-button (click)="cancelChanges()">Cancelar</button>
                            </div>
                        </div>
                        <button mat-mini-fab style="background-color: #E83D5E" aria-label="Edit message" *ngIf="!message.main && !edition" (click)="edition = !edition">
                            <mat-icon>create</mat-icon>
                        </button>
                    </mat-step>
                </mat-vertical-stepper>
            </div>
        </mat-card-content>
        </mat-card>
    </div>
    </div>